<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pedido</title>
  </head>
  <body>
    

    <% for(var i=0; i<pedidos.length; i++) {%>

      <div><%= pedidos[i].id %> | <%= pedidos[i].pedido %> | <%= pedidos[i].previsao %></div>

    <% } %>
  </body>
</html>
